<template>
  <q-page class="flex flex-center">
  </q-page>
</template>

<style>
</style>

<script>
export default {
  name: 'PageIndex',
  mounted () {
    this.$router.push('/dasboard')
  }
}
</script>
