<template>
  <q-page class="container">
    <div class="row q-px-md">
      <!-- <q-input outlined v-model="user" class="col-12" label="NOME" /> -->
      <div class="col-12">
          <q-scroll-area style="height: 80vh" ref="scroll">
            <q-chat-message class="text-h6"
                :ref="`chat${index}`"
                v-for="(msgRecebida, index) in messages" :key="index"
                :name="msgRecebida.user"
                :text="[msgRecebida.message]"
                :sent="dato.user === msgRecebida.user"
              />
          </q-scroll-area>
        </div>
    </div>
    <div class="fixed-bottom, absolute-bottom">
      <div class="row">
        <div class="col-10">
          <q-input outlined v-model="dato.message"
          :placeholder="'Digite sua mensagem'" @keyup.enter="sendAction"/>
        </div>
        <div class="col-2">
          <q-btn icon="send" class="full-width full-height" size="lg" color="green-5"
            @click="sendAction"  />
        </div>
      </div>
    </div>
  </q-page>
</template>

<style>
</style>

<script>
export default {
  name: 'PageWindow',
  layout: 'Default',
  data () {
    return {
      messages: [],
      dato: {
        user: '',
        message: '',
        action: 'ADD'
      }
    }
  },
  sockets: {
    MESSAGE: function (data) {
      this.messages = [...this.messages, data]
      setTimeout(() => {
        this.$refs.scroll.setScrollPosition(this.$refs.scroll.$el.clientHeight)
        // console.log('DATA', data)
        // this.$speechTalk(`${data.user} diz: ${data.message}`)
      }, 100)
    }
  },
  methods: {
    sendAction (e) {
      e.preventDefault()
      this.$socket.emit('SEND_MESSAGE', this.dato)
    }
  }
}
</script>
